/* Backgrounds */
.art-page_wrap {
  background-image: url(../img/skill-bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.design-page_wrap {
  background-image: url(../img/skill-bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.photo-page_wrap {
  background-image: url(../img/photo-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.video-page_wrap {
  background-image: url(../img/video-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.totop {
  display: none;
}

.gallery_content ul li {
  z-index: 55;
}

.videotextfix {
  margin: 5rem auto 3rem;
  display: block;
}

.vidoegallery_content {
  padding: 6.5rem 0 3rem;
}

.vidoegallery_content p {
  width: 70%;
  max-width: 1300px;
  margin: auto;
  padding: 3rem;
  color: white;
  text-align: justify;
  line-height: 1.4;
  font-size: 1.2rem;
  background: #0000002e;
  border: 1px solid teal;
  border-top: 2px solid teal;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
}

.videogallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
}

.videogallery img {
  width: 45rem;
  margin: 1.5rem;
  border-radius: 5px;
  border: 1px solid #1B9B97;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

.videogallery iframe {
  width: 45rem;
  margin: 1.5rem;
  border-radius: 5px;
  border: 1px solid #1B9B97;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

/* Pages nav mod */
@media (min-width: 769px) {
  .navigation-pg-lg {
    border: white 1px solid;
    border-radius: 2rem;
    height: 0;
    width: 2.5rem;
    position: fixed;
    right: 4.5rem;
    top: 2rem;
    z-index: 99;
    opacity: 0;
    transition: all 0.4s;
  }

  .navigation_checkbox:checked~.navigation-pg-lg {
    height: 51rem;
    opacity: 1;
  }

  .navigation_checkbox:checked~.navigation-pg-lg .navigation_item {
    height: 100%;
  }

  .navigation_checkbox:checked~.navigation-pg-lg .navigation_item .nav-circle {
    height: 4.5rem;
    opacity: 1;
  }
}

@media (max-width:768px) {
  .navigation-pg-sm {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -50rem;
    z-index: 105;
    opacity: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(.67, -0.25, .32, 1.45);
  }

  .navigation_checkbox:checked~.navigation-pg-sm {
    opacity: 1;
    width: 100%;
    right: 0;
  }
}

.gallery-bg_line {
  animation: fadeDown 0.8s 1s cubic-bezier(.67, -0.25, .32, 1.45);
  animation-fill-mode: backwards;
}

.gallery_content ul {
  animation: fadeDown2 0.8s 1s cubic-bezier(.67, -0.25, .32, 1.45);
  animation-fill-mode: backwards;
}

.gallery_content p {
  animation: fadeUp 1s 1s cubic-bezier(.67, -0.25, .32, 1.45);
  animation-fill-mode: backwards;
}

.gallery {
  animation: fadeUp 1.2s 1s cubic-bezier(.67, -0.25, .32, 1.45);
  animation-fill-mode: backwards;
}

@keyframes fadeDown {
  0% {
    transform: translate(-50%, -10rem);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes fadeDown2 {
  0% {
    transform: translateY(-20rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(30rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Gallery */
.gallery_container {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.gallery_content {
  color: #1B9B97;
}

.gallery-bg_line {
  width: 75rem;
  height: 2rem;
  position: absolute;
  top: 4.4rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20rem;
  border: white 1px solid;
  z-index: 10;
}

.desfix {
  width: 67rem;
}

.gallery_content ul {
  width: 75%;
  margin: 3.3rem auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  z-index: 50;
}

.gallery_content ul li {
  margin: 0 2rem 0;
  background-color: white;
  padding: 0.5rem 4rem;
  border-radius: 30rem;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.4s;
}

.gallery_content ul li:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.3);
}

.gallery_content p {
  width: 70%;
  max-width: 1300px;
  margin: auto;
  padding: 0 0 3rem;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-size: 1.2rem;
}

/*filter*/
.filter {
  display: grid;
  grid-template-columns: repeat(4, 32rem);
  grid-gap: 1.5rem;
  padding-bottom: 4rem;
  justify-content: center;
}

.item {
  background-color: white;
  border-radius: 5px;
  transition: 2s;
  position: static;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  display: flex;
  justify-content: center;
  border: solid 1px #004F4F;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
}

.logogs {
  filter: grayscale();
}

.logogs:hover {
  filter: none;
}

.item a {
  filter: grayscale(0.7);
  display: flex;
  transition: all 0.4s;
}

.item a:hover {
  transform: scale(1.1);
  filter: none;
}

.item.hide {
  transition: 0s;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.page_element-b {
  background-image: url(../img/div-element.svg);
  background-size: cover;
  background-position: center;
  height: 1.2rem;
  width: 100%;
  position: absolute;
  top: 0;
}

.sl-wrapper .sl-image .sl-caption {
  text-align: center;
}

@media(max-width:1350px) {
  .filter {
    grid-template-columns: repeat(3, 32rem);
  }
}

@media(max-width:1050px) {
  .filter {
    grid-template-columns: repeat(2, 32rem);
  }
}

@media(max-width:680px) {
  .filter {
    grid-template-columns: repeat(1, 32rem);
  }

  .vidoegallery_content {
    padding: 9.5rem 0 3rem;
  }

  .vidoegallery_content p {
    width: auto;
    border: 0;
    border-bottom: 1px solid teal;
    border-top: 2px solid teal;
  }
  .videogallery img {width: 80%;}
}

@media(max-width:900px) {
  .gallery_content ul {
    flex-direction: column;
  }

  .logogs {
    filter: none;
  }

  .item a {
    filter: inherit;
  }

  .gallery_content ul {
    margin: 7.3rem auto 3.6rem;
  }

  .gallery_content p {
    width: 100%;
    text-align: justify;
    box-sizing: border-box;
    padding: 3rem;
    background-color: #00000021;
    margin: 0 0 4rem;
    border-bottom: 1px solid teal;
    border-top: 1px solid teal;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3)
  }

  .gallery_content ul li {
    margin: 15px 2rem 0;
  }

  .gallery_content ul li:active,
  .gallery_content ul li:focus {
    border: solid 2px #1b9b97;
  }

  .gallery-bg_line {
    display: none;
  }

  .totop {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    font-size: 2.7rem;
    color: white;
    border-radius: 50px;
    background-image: linear-gradient(#0ad3ca, #01717c);
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.1);
  }
}